body{
    margin: 0px;
    padding:0px;
    width: 100%;
    font-family: 'Public Sans', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    height: 80px;
    align-items:center;
}

.header ul{
    display: flex;
    gap:30px;
    text-decoration: none;
    list-style: none;
}

.navbar{
    display: flex;
    width:40%;
    justify-content: center;
    align-items:center;
    gap: 25px;
}
.button{
    background-image: linear-gradient(120deg, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border-radius: 20px;
    width: 150px;
    height:40px;
    color: white;
    border:none;
}

a{
    color: white;
}
a:hover{
    color: black;
}

.header-link{
    color: grey;
}
.header-link:hover{
    color: black;
}
.footer{
    display: flex;
    background-color: hsl(233, 26%, 24%);
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 160px;
    padding-left: 10%;
    padding-right: 10%;
}

.footer-child{
    display: flex;
    height: 100%;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.footer-child1{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap:40px;
}
.footer-child2{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap:40px;
    align-items: flex-end;
}

.section1{
    display:flex;
    flex-direction: column;
    background-image:url("images/image-mockups.png"), url("images/bg-intro-desktop.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right -115px top -100px,right -100px top -120px;
    height: 400px;
    justify-content: center;
    gap:100px;
    padding-left: 10%;
    padding-top:  5%;
    background-color: hsl(0, 0%, 98%);
}
.section1Child{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.img{
    width:100%;
    height: 120px;
}

.articleChild{
    display: flex;
    gap:20px;
}

.dropdown-toggle{
    display: none;
    outline:none;
    border:none;
    background: transparent;
    cursor:pointer;
}
.latestArticles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 150px;
}

.articleBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 250px;
    padding-top: 6%;
    gap: 8px;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(220, 16%, 96%);
}

.title{
    padding-top: 50px;
    padding-left: 10%;
    background-color: hsl(220, 16%, 96%);
}
.section2Child{
    display: flex;
    align-items: center;
    gap: 30px;
    height: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.bigHeading{
    font-size: 40px;
}

.secondBoxHeading{
    font-size: 30px;
}

.content{
    color: hsl(233, 9%, 62%);
}

.content1{
    color: hsl(233, 9%, 62%);
}
.textLine{
    width: 30%;
    color: hsl(233, 9%, 62%);
}

.footerLink:hover{
    color: hsl(136, 65%, 51%);
}
#check{
    z-index:3;
}

.menu-btn{
    display: none;
}

@media screen and (max-width:360px){
    .navbar ul{
        display:none;
    }

    .header select{
        display:inline-block;
    }
    .secondBoxHeading{
        text-align: center;
    }
    .articleChild{
        justify-content: center;
        align-items: center;
    }
    .textLine{
        width: 100%;
        color: hsl(233, 9%, 62%);
    }
    .section1{
        background-size: 60%;
        background-position:  top ,top;
    }
    .section2Child{
        flex-wrap: wrap;
    }

    #btn1{
        display: none;
    }

    .menu-btn{
        display: block;
    }
    
    .section1Child{
        padding-top: 100%;
        justify-content: center;
        align-items: center;
    }

    .articleChild{
        flex-wrap: wrap;
    }
    
    .title{
        display: flex;
        flex-direction:column;
    }
    .logo{
        align-self: center;
    }

    .footer{
        flex-wrap: wrap;
        padding-top: 5%;
        padding-bottom: 5%;
        height: 100%;
        gap: 10px;
    }

    .footer-child1,.footer-child2,.footer-child{
        align-items: center;
        width:100%;
    }
    .logoTransactions{
        display: flex;
        justify-content: center;
    }

    .section2Child{
        justify-content: center;
    }

    .boxContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .menu {
        display: none;
        position: fixed;
        top: 50px;
        left: 2.5%;
        box-shadow: 20px 60px 150px 45px #000000e1;
        justify-content: center;
        height: 240px;
        z-index: 8;
        width: 95%;
        background-color: #fffdfd;
      }
    
      #mobile-links li {
        margin-top: 12px;
        padding: 5px;
        font-size: 1em;
        font-weight: 400;
        text-align: center;
        display: block;
      }
    
      #mobile-links li a:hover {
        border: none;
      }
}